<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to afrowealth</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'frontpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'frontpage/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'frontpage/css/grayscale.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Wealth of Africa</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Afrowealth</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">We welcome you</h2>
          <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Who are we</h2>
            <p class="text-white-50">Afro-wealth Investment consult is an independent consultancy firm and a research based think tank with experience in Economic Analysis, Regional and Market Analysis in various fields. Staffed with experienced and qualified experts from diverse background, we seek to deliver for our clients and stakeholders value for money and efficiency at the highest level. Afro-wealth Investment Consult offers up to date information on macroeconomic policy analysis, investment trends, security issues and other important services like Value Chain Investment analysis at their client’s request. We also engage in investor advice and analysis of the African market and other emerging economies to get the right and timely needed information for investment decisions.</p>
          </div>
        </div>
        <!--<img src="{% static 'frontpage/img/building0-simone.png' %}" class="img-fluid" alt="">-->
      </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="{% static 'frontpage/img/bg-eberhard.jpg' %}" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>Mission</h4>
              <p class="text-black-50 mb-0">At Afro-wealth Investment and Management Consult, we seek to invest on behalf of institutional investors globally. We take great deal in delivering retirement systems analysis for our clients  which in Africa and millions more internationally. As careful stewards of capital, we strive to provide solutions that create lasting value for investors capital , the companies in which we invest and the community as a whole. We have a commitment to operate with the utmost integrity  is reflected in the work that we do. At Afro- wealth are positioned for sustainable long-term growth that creates sustainable jobs and generate wealth for workers and their retirement days, serve as an anchor of hope and reliability for society we serve.</p>
            </div>
          </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'frontpage/img/demo-hunters.jpg' %}" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Service</h4>
                  <p class="mb-0 text-white-50">Emerging Markets Economics
    The Emerging Markets team undertakes analysis of political and economic developments in Asia, Eastern Europe, the Middle East, Africa and Latin America. Afro-wealth seeks to concentrate on the various structural changes, trends and dynamics and relevance of emerging markets in the 21st century for global financial markets. As part of International and regional Risk Analysis, competence is what we stand for to ensure investor confidence.
    </p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'frontpage/img/demo-rawpixel.jpg' %}" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Products</h4>
                  <p class="mb-0 text-white-50">We provide a broad range of services form Economic Analysis and Forward Guidance for Investors with long term investment positions, Financial and Investor advice,  Foreign Direct Investment Appraisal, Wealth and Asset management, Project Management and Corporate & communication strategy,  Industry and Market Research, Labor & Industrial Policy Analysis,  Energy and Defense outlooks.

Afrowealth Investment Consult in addition to the aforementioned also looks the level of Financial Sector development and provides vital information (FinTech) and the pace of Digitization processes being undertaken in the sector, to enable our cherished individual and corporate investors make sound and better decisions.

                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project third Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'frontpage/img/demo-arif.jpg' %}" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Service</h4>
                  <p class="mb-0 text-white-50">
                            <br/>Targeted Industry Analysis, Reports, Data and Trends
                            <br>Health and the Pharmaceutical Industry out & analysis
                            <br>Defense and Security Insights, trends and the role of private security and also the issue of Cyber Security
                            <br>Telecommunications Industry Analysis
                            <br>Energy Market Reports
                            <br>Agriculture and Manufacturing Sector Analysis</br>
                          </p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Retirement & OUtlook -->
    <section id="outlook" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Outlook</h2>
            <p class="text-white-50">Retirement
The Afro-wealth Institute seeks to provide comprehensive information and services on
<br>Personal Retirement Advice
<br>Pension Schemes
<br>uRetire Package
<br>Analysis on the dynamics of an Ageing Population – Forward Guidance

Outlook
<br>Macroeconomic Indicators / forecasts
<br>Tax and Legal Framework Analysis
<br>Human Development Index (HDI)
<br>Narrowing the Inequality Gap
<br>Economic Growth and Fiscal Consolidation
<br>Political Economy of the FDI
</div>
        </div>
        <img src="{% static 'frontpage/img/building-simone.png' %}" class="img-fluid" alt="">
      </div>
    </section>

    <!-- Signup Section -->
    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">We are located in Ghana, Tema and other international offices are Cracow, Poland, London, United Kingdom.  </h2>

            <!--<form class="form-inline d-flex">
              <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
              <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
          </form>-->

          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Address</h4>
                <hr class="my-4">
                <div class="small text-black-50"><br>House no. 54, Magnus Street off
<br>Michel Camp Road – Tema
<br>Ghana
</div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="#">invest@afro-wealth.com</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4">
                <div class="small text-black-50"><br>Poland, Cracow
<br>Contact: +48 733 420 555
</div>
              </div>
            </div>
          </div>
        </div>

        <div class="social d-flex justify-content-center">
          <a href="#" class="mx-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-github"></i>
          </a>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright by <a href="http://dimasmukhlas.com"> dimasmukhlas.com &copy; 2018</a>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'frontpage/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'frontpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'frontpage/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'frontpage/js/grayscale.min.js' %}"></script>

  </body>

</html>
